body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p, h1, h2, h3, h4, h5, h6, label, button {
    display: block;
}

.boxBorder {
    border-color: #c3c3c3;
    border-style: solid;
}